.footer{
  padding-bottom: 50px;
  @include media-breakpoint-down('s'){
    padding-bottom: 0;
  }
  &__item{
    &:nth-child(n+2){
      border-top: 1px solid #F2F2F2;
      margin-top: 16px;
      padding-top: 16px;
      padding-bottom: 16px;
      @include media-breakpoint-up('m'){
        margin-top: 24px;
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }
  }
  &__logo{
    height: 36px;
    @include media-breakpoint-up('m'){
      height: 48px;
    }
  }
  &__txt{
    color: #595959;
    line-height: 1.25;
    @extend .fz-16;
    font-family: $font-SF-Pro-Display-Semibold;
  }
}