/**
 * --------------------------------------------------------------------
 * SF-compact-rounded
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'SF Compact Rounded Regular';
  font-display: auto;
  src:local('SF Compact Rounded Regular'), url('fonts/SF-compact-rounded/SF-Compact-Rounded-Regular.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SF Compact Rounded Semibold';
  font-display: auto;
  src:local('SF Compact Rounded Semibold'), url('fonts/SF-compact-rounded/SF-Compact-Rounded-Semibold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SF Compact Rounded Medium';
  font-display: auto;
  src:local('SF Compact Rounded Medium'), url('fonts/SF-compact-rounded/SF-Compact-Rounded-Medium.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * SF Pro Display
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'SF Pro Display Regular';
  font-display: auto;
  src:local('SF Pro Display Regular'), url('fonts/SF-Pro-Display/SF-Pro-Display-Regular.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SF Pro Display Bold';
  font-display: auto;
  src:local('SF Pro Display Bold'), url('fonts/SF-Pro-Display/SF-Pro-Display-Bold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SF Pro Display Medium';
  font-display: auto;
  src:local('SF Pro Display Medium'), url('fonts/SF-Pro-Display/SF-Pro-Display-Medium.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SF Pro Display Semibold';
  font-display: auto;
  src:local('SF Pro Display Semibold'), url('fonts/SF-Pro-Display/SF-Pro-Display-Semibold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}